.sing-up-form{
  position: absolute;
  top: 15px;
  right: 30px;
  max-width: 400px;
  border-radius: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.84);
  transition: 0.5s;
}
.sing-up-form_disabled{
  top: -430px;
}
.form-control__red{
  border-color: red;
}
.form-control__red:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px rgba(255, 0, 0, 0.9);
}
.spinner-border{
  height: 18px;
  width: 18px;
}
.custom-file{
  overflow: hidden;
}
