.sing-in-form{
  position: absolute;
  z-index: 15;
  right: 30px;
  border-radius: 15px;
  padding: 10px;
  top: 15px;
  background: rgba(255, 255, 255, 0.84);
  transition: 0.5s;
}
.sing-in-form_disabled{
  top: -300px;
}
.spinner-border{
  height: 18px;
  width: 18px;
}
