*{
  padding: 0;
  margin: 0;
}
body{
  background: url('../img/background.png');
  background-repeat: repeat-y;
  /* margin-top: -60px; */
}
.wrapper{
  position: relative;
  width: 1170px;
  margin: 0 auto;
}
.head__site-name{
  background: url('../img/sitename.png');
  /* border: 1px red solid; */
  width: 220px;
  height: 118px;
  margin-top: 70px;
  margin-left: 170px;
}
.head__site-name-text{
  margin-left: 35px;
  padding-top: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 43px;
  font-weight: 400;
  text-transform: uppercase;
}
.content-wrapper{
  max-width: 1170px;
  display: grid;
  grid-template-columns: 170px 700px 330px;
}
.left-side-bar{
  height: 1815px;
  background: rgb(255, 255, 255);
}
.profile__avatar{
  width: 170px;
  height: 174px;
  background: #ff6647;
}
.profile__avatar-image{
  /* margin: 13px 15px; */
}
.profile__discription{
    /* height: 152px; */
  width: 170px;
  background: rgb(255, 255, 255);
}
.profile__name{
  /* Style for "John doe" */
  padding-left: 89px;
  padding-top: 32px;
  padding-bottom: 8px;
  width: 83px;
  height: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "John doe" */
  letter-spacing: -0.44px;
}
.profile__signature{
  /* Style for "sitam orei" */
  padding-left: 22px;
  padding-top: 6px;
  width: 148px;
  height: 17px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  /* Text style for "sitam orei" */
  /* letter-spacing: 0.28px; */
}
.profile__social{
  padding-top: 8px;
  padding-left: 92px;
}
.profile__social-facebook{
  /* margin-left: 90px; */
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialFacebook.png')
}
.profile__social-twitter{
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialTwitter.png')
}
.profile__social-linkedin{
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialLinkedin.png')
}
.navigation{
  padding-top: 22px;
  /* float: right; */
}
.navigation__list{
  list-style: none;
}
.navigation__item{
  text-align: right;
  border-bottom: 1px #79828c solid;
  /* Style for "Home about" */
  width: 100%;
  color: #79828c;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}



.line{
  width: 640px;
  height: 1px;
  background: #79828c;
  margin: 0 auto;
  /* margin-top: 39px;
  margin-bottom: 39px; */
}



.content{
  height: 1815px;
  background: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
}
.article{
  padding-top: 40px;
  padding-bottom: 39px;
}
.article__text--orange{
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
}
.article__title{
  height: 113px;
  color: #79828c;
  font-family: Oswald;
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 62px;
}
.slider__image{
  margin-top: 34px;
  margin-bottom: 35px;
  background: url('../img/Banner.png');
  width: 640px;
  height: 384px;
}
.article__sub-title{
  color: #79828c;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.article__text-content{
  margin-top: 16px;
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.article__more-button{
  margin-top: 30px;
  width: 100px;
  height: 36px;
  background-color: #ff6647;
  border: none;
  color: rgb(255, 255, 255);
}

















.users{
  padding-top: 39px;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 370px 270px;
}
.users__cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.users__about{
  padding-left: 30px;
  padding-right: 30px;
}
.users__about-title{
  margin-top: -8px;
  color: #79828c;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.users__about-text--orange{
  margin-top: 15px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.users__about-text{
    /* Style for "Praesent e" */
  /* width: 239px;
  height: 317px; */
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.users__archives-button{
    margin-top: 40px;
    width: 100px;
    height: 36px;
    background-color: #ff6647;
    border: none;
    color: rgb(255, 255, 255);
  }




.review{
  margin-top: 35px;
  margin-bottom: 30px;
}
.review__user-avatar{
  float: left;
  margin-right: 32px;
}
.review__user-name{
  padding-top: 8px;
  margin-bottom: 5px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.review__text{
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 20px;
}







.right-side-bar{
  padding-left: 30px;
  padding-right: 30px;
}
.search-form__text-input{
  padding-left: 10px;
  border: none;
  color: white;
  width: 220px;
  height: 40px;
  background-color: #ff6647;
  float: left;
}
.search-form__search-button{
  width: 40px;
  height: 40px;
  background: white;
  color: #ff6647;
  border: none;
}
.contact-me{
  padding-left: 20px;
  width: 250px;
  height: 178px;
  background-color: #ff6647;
}
.contact-me__title{
  padding-top: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-me__email{
  /* Style for "myname@sit" */
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 240px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
}
.contact-me__phone-image{
  float: left;
}
.contact-me__phone{
  margin-left: 38px;
  height: 30px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}







.services{
  margin-top: -4px;
  background-color: #ff6647;
}
.services-title{
  /* Style for "title bg" */
  width: 270px;
  height: 78px;
  background-color: #ffffff;
}
.services-title__title{
  padding-top: 12px;
  margin-left: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.services-title__sub-title{
  margin-left: 20px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.services-list{
  width: 230px;
  list-style: none;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.services-list__item{
  border-bottom: 1px solid white;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 39px;
}
.services-list__item:last-child{
  border-bottom: none;
}







.send-message-title{
  /* Style for "title bg" */
  width: 270px;
  height: 78px;
  background-color: #ffffff;
}
.send-message-title__title{
  padding-top: 12px;
  margin-left: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.send-message-title__sub-title{
  margin-left: 20px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.send-message-form{
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #ff6647;
  padding-left: 20px;
}
.send-message-form__name-input{
  /* Style for "input" */
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
}
.send-message-form__mail-input{
  /* Style for "input" */
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
}
.send-message-form__message-input{
  /* Style for "input" */
  color: white;
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 105px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
}
.send-message-form__submit-button{
  /* Style for "input" */
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
  color: white;
}
input[type="text"]::-webkit-input-placeholder {
 color: white;
}
input[type="text"]::-moz-placeholder {
 color: white;
}
footer{
  width: 870px;
  height: 60px;
  background-color: #ff6647;
}
