*{
  padding: 0;
  margin: 0;
  outline: none;
}
body{
  background: url('../img/background.png');
  background-repeat: repeat;
  outline: none;
}
.wrapper{
  overflow: hidden;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
.head__site-name{
  background: url('../img/sitename.png');
  width: 220px;
  height: 118px;
  margin-top: 70px;
  margin-left: 170px;
}
.head__site-name-text{
  margin-left: 35px;
  padding-top: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 43px;
  font-weight: 400;
  text-transform: uppercase;
}
.content-wrapper{
  max-width: 1170px;
  display: grid;
  grid-template-columns: 170px 700px 330px;
}
.left-side-bar{
  height: 1815px;
  background: rgb(255, 255, 255);
}
.profile__avatar-wrapper{
  width: 170px;
  height: 162px;
  background: #ff6647;
  padding-top: 12px;
}
.profile__avatar{
  background: white;
  overflow: hidden;
  width: 132px;
  height: 132px;
  border: 6px solid #ff8b73;
  border-radius: 50%;
  margin: 0 auto;
}
.profile__avatar-image{
  margin-left: -5px;
  margin-top: -5px
}
.profile__discription{
  width: 170px;
  background: rgb(255, 255, 255);
}
.profile__name{
  padding-left: 89px;
  padding-top: 32px;
  padding-bottom: 8px;
  height: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.44px;
}
.profile__signature{
  padding-left: 22px;
  padding-top: 6px;
  width: 148px;
  height: 17px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.profile__social{
  padding-top: 8px;
  padding-left: 92px;
}
.profile__social-facebook{
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialFacebook.png')
}
.profile__social-twitter{
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialTwitter.png')
}
.profile__social-linkedin{
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background: url('../img/socialLinkedin.png')
}
.navigation{
  padding-top: 22px;
}
.navigation__list{
  list-style: none;
}
.navigation__item{
  cursor: pointer;
  text-align: right;
  border-bottom: 1px #79828c solid;
  width: 100%;
  color: #79828c;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
.navigation__item:hover{
  color: #ff6647;
  border-color: #ff6647;
}
.line{
  width: 640px;
  height: 1px;
  background: #79828c;
  margin: 0 auto;
}
.content{
  height: 1815px;
  background: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
}
.article{
  padding-top: 40px;
  padding-bottom: 39px;
}
.article__text--orange{
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
}
.article__title{
  height: 113px;
  color: #79828c;
  font-family: Oswald;
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 62px;
  letter-spacing: -0.5px;
}
.article-slider{
  position: relative;
  top: 38px;
  margin-bottom: 35px;
  margin: 0 auto 40px;
  width: 640px;
  padding-bottom: 380px;
}
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.slides img {
 width: 100%;
 height: 100%;
}
.slide_img {
  display: none;
}
#arrow_next{
  position: absolute;
  left:560px;
  z-index: 2;
}
#arrow_prev{
  position: absolute;
  left: 635px;
  z-index: 2;
}
#arrow_next label{
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  top: 352px;
  right: 10px;
}
#arrow_prev label {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  top: 352px;
  right: 10px;
}
#arrow_prev label {
  left: -50px;
}
#arrow_next label {
  right: -50px;
}
.switchers {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  text-align: center;
}
.switcher {
  background: rgba(0, 0, 0, .7);
  width: 15px;
  height: 15px;
  position: relative;
  top: 7px;
  margin: 0 4px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
#img_1:checked ~ #arrow_next label:nth-child(2),
#img_2:checked ~ #arrow_next label:nth-child(3),
#img_3:checked ~ #arrow_next label:nth-child(1)
{
  visibility: visible;
}
#img_1:checked ~ #arrow_prev label:nth-child(3),
#img_2:checked ~ #arrow_prev label:nth-child(1),
#img_3:checked ~ #arrow_prev label:nth-child(2)
{
  visibility: visible;
}
#img_1:checked ~ #first,
#img_2:checked ~ #second,
#img_3:checked ~ #third
{
  visibility: visible;
  opacity: 1;
}
.article-slider__btn{
  position: absolute;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.slider__left{
  background: url('../img/sliderLeft.png');
}
.slider__right{
  background: url('../img/sliderRight.png');
}
.slider__image{
  background: url('../img/Banner.png');
  width: 640px;
  height: 384px;
}
.article__sub-title{
  padding-top: 32px;
  color: #79828c;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.article__text-content{
  margin-top: 16px;
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.article__more-button{
  cursor: pointer;
  margin-top: 30px;
  width: 100px;
  height: 36px;
  background-color: #ff6647;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 15px;
}
.users{
  padding-top: 39px;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 370px 270px;
}
.users__cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.user-card__avatar{
  width: 170px;
  height: 162px;
  overflow: hidden;
}
.user1{
  background: url('../img/user1.png');
}
.user2{
  background: url('../img/user2.png');
}
.user3{
  background: url('../img/user3.png');
}
.user4{
  background: url('../img/user4.png');
}
.user-card__signature{
  width: 170px;
  height: 39px;
  background-color: #f3f3f3;
}
.user-card__text{
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 11px;
  float: left;
  padding-left: 10px;
  padding-top: 12px;
}
.user-card__photo-button{
  cursor: pointer;
  float: right;
  width: 40px;
  height: 39px;
  background-color: #bcbcbc;
  background: url('../img/cameraBtn.png');
}
.users__about{
  padding-left: 30px;
  padding-right: 30px;
}
.users__about-title{
  margin-top: -8px;
  color: #79828c;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.users__about-text--orange{
  margin-top: 15px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.users__about-text{
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.users__archives-button{
  cursor: pointer;
  margin-top: 40px;
  width: 100px;
  height: 36px;
  background-color: #ff6647;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 15px;
}
.review{
  margin-top: 35px;
  margin-bottom: 30px;
}
.review__user-avatar{
  float: left;
  margin-right: 32px;
}
.review__user-name{
  padding-top: 8px;
  margin-bottom: 5px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.review__text{
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 20px;
}
.right-side-bar{
  padding-left: 30px;
  padding-right: 30px;
}
.search-form{
  height: 40px;
}
.search-form__text-input{
  padding-left: 10px;
  border: none;
  color: white;
  width: 220px;
  height: 40px;
  background-color: #ff6647;
  float: left;
}
.search-form__search-button{
  cursor: pointer;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: white;
  color: #ff6647;
  border: none;
  font-family: Oswald;
  font-size: 15px;
}
.contact-me{
  padding-left: 20px;
  width: 250px;
  height: 178px;
  background-color: #ff6647;
}
.contact-me__title{
  padding-top: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-me__email{
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 240px;
  height: 17px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
}
.contact-me__phone-image{
  cursor: pointer;
  float: left;
}
.contact-me__phone{
  margin-left: 38px;
  height: 30px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
.services{
  margin-top: -4px;
  background-color: #ff6647;
}
.services-title{
  width: 270px;
  height: 78px;
  background-color: #ffffff;
}
.services-title__title{
  padding-top: 12px;
  margin-left: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.services-title__sub-title{
  margin-left: 20px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.services-list{
  width: 230px;
  list-style: none;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.services-list__item{
  cursor: pointer;
  border-bottom: 1px solid white;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 39px;
}
.services-list__item:last-child{
  border-bottom: none;
}
.send-message-title{
  width: 270px;
  height: 78px;
  background-color: #ffffff;
}
.send-message-title__title{
  padding-top: 12px;
  margin-left: 20px;
  color: #ff6647;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
.send-message-title__sub-title{
  margin-left: 20px;
  color: #ff6647;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.send-message-form{
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #ff6647;
  padding-left: 20px;
}
.send-message-form__name-input{
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
}
.send-message-form__mail-input{
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
}
.send-message-form__message-input{
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 220px;
  height: 100px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
  resize: none;
}
.send-message-form__submit-button{
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 35px;
  border: 1px solid #ff7154;
  background-color: #ef4b2a;
  color: white;
  font-family: Oswald;
  font-size: 15px;
}
input[type="text"]::-webkit-input-placeholder {
 color: white;
}
input[type="text"]::-moz-placeholder {
 color: white;
}
textarea::-webkit-input-placeholder {
  color: white;
}
footer{
  width: 870px;
  height: 60px;
  background-color: #ff6647;
  text-align: center;
}
.copyright{
  padding-top: 20px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 15px;
  text-transform: uppercase;
}
.mobile-menu-btn{
  display: none;
  color: #ff6647;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1190px){
  .content-wrapper{
    width: 1030px;
    margin: 0 auto;
  }
  .head__site-name{
    background: #ff6647;
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
  }
  .head__site-name-text{
    margin-left: 100px;
    padding-top: 0;
  }
  .mobile-menu-btn{
    display: block;
    width: 63px;
    height: 63px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
  }
  .left-side-bar{
    position: absolute;
    left: -400px;
    transition: 0.5s;
    z-index: 5;
  }
  .left-side-bar--show{
    width: 50%;
    left: 0px;
    border-right: 4px #ff6647 solid;
    z-index: 5;
  }
  .navigation{
    padding-right: 40px;
  }
  .profile__discription{
    margin: 0 auto;
    text-align: center;
  }
  .profile__name{
    padding-left: 0;
  }
  .profile__signature{
    padding-left: 0;
  }
  .profile__social{
    padding-left: 0;
  }
  .profile__avatar-wrapper{
    width: 100%;
  }
  .content-wrapper{
    grid-template-columns: 700px 330px;
  }
  footer{
    width: 100%;
    border-top: 5px white solid;
  }
  .footer-shadow{
    display: none;
  }
}
@media screen and (max-width: 1025px){
  .content-wrapper{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .head__site-name{
    margin: 0;
  }
  .right-side-bar{
    padding: 0px;
  }
  .box-shadow{
    display: none;
  }
  .search-form{
    border: 2px white solid;
    position: absolute;
    top: 10px;
    right: 5px;
  }
  .contact-me{
    text-align: center;
    padding-left: 0;
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
  .contact-me__email{
    width: 100%;
  }
  .contact-me__phone{
    margin-left: 0;
  }
  .contact-me__phone-image{
    float: none;
    display: inline;
  }
  .services{
    text-align: center;
  }
  .services-title{
    width: 100%;
    text-align: center;
  }
  .services-list{
    width: 100%;
    margin-left: 0px;
  }
  .send-message-title{
    width: 100%;
    text-align: center;
  }
  .send-message-form{
    padding-left: 0px;
    text-align: center;
  }
  .send-message-form__name-input{
    width: 90%;
  }
  .send-message-form__mail-input{
    width: 90%;
  }
  .send-message-form__message-input{
    width: 90%;
  }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .head__site-name-text{
      height: 85px;
    }
    .content-wrapper{
      grid-template-columns: 1fr;
      width: 100%;
    }
    .head__site-name{
      margin: 0;
    }
    .users{
      grid-template-columns: 1fr;
    }
    .user-card{
      justify-self: center;
    }
    .content{
      height: auto;
    }
    .article__text-content{
      font-size: 30px;
      line-height: normal;
    }
    .article__sub-title{
      font-size: 50px;
    }
    .article__text--orange{
      font-size: 30px;
    }

    .users__about-title{
      font-size: 50px;
    }
    .users__about-text--orange{
      font-size: 30px;
    }
    .users__about-text{
      font-size: 30px;
      line-height: normal;
    }
    .right-side-bar{
      padding: 0px;
    }
    .box-shadow{
      display: none;
    }
    .search-form{
      width: 50%;
      border: none;
      border-left: 2px white solid;
      position: absolute;
      height: 85px;
      top: 0px;
      right: 5px;
    }
    .search-form__text-input{
      width: 80%;
      height: 85px;
      font-size: 40px;
    }
    .search-form__search-button{
      width: 85px;
      height: 85px;
    }
    .contact-me{
      text-align: center;
      padding-left: 0;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .contact-me__title{
      font-size: 55px;
    }
    .contact-me__email{
      width: 100%;
      font-size: 30px;
      height: auto;
    }
    .contact-me__phone{
      margin-left: 0;
      font-size: 30px;
      height: auto;
    }
    .services-title{
      height: auto;
    }
    .send-message-title{
      height: auto;
    }
    .contact-me__phone-image{
      float: none;
      display: inline;
    }
    .services{
      text-align: center;
    }
    .services-title{
      width: 100%;
      text-align: center;
    }
    .services-list{
      width: 100%;
      margin-left: 0px;
    }
    .send-message-title{
      width: 100%;
      text-align: center;
    }
    .send-message-form{
      padding-left: 0px;
      text-align: center;
    }
    .send-message-form__name-input{
      width: 95%;
      height: 80px;
      font-size: 40px;
    }
    .send-message-form__mail-input{
      width: 95%;
      height: 80px;
      font-size: 40px;
    }
    .send-message-form__message-input{
      width: 95%;
      height: 280px;
      font-size: 40px;
    }
    .article__more-button{
      width: 100%;
      height: 80px;
      font-size: 50px;
    }
    .users__archives-button{
      width: 100%;
      height: 80px;
      font-size: 50px;
    }
    .send-message-form__submit-button{
      width: 100%;
      height: 80px;
      font-size: 50px;
    }
    .mobile-menu-btn{
      height: 85px;
      width: 85px;
    }
    .navigation__item{
      font-size: 40px;
      line-height: normal;
    }
    .profile__name{
      font-size: 50px;
      width: auto;
      height: auto;
    }
    .profile__signature{
      width: auto;
      height: auto;
      font-size: 20px;
    }
    .profile__social-linkedin{
      height: 50px;
      width: 50px;
      background-size: cover;
    }
    .profile__social-facebook{
      height: 50px;
      width: 50px;
      background-size: cover;
    }
    .profile__social-twitter{
      height: 50px;
      width: 50px;
      background-size: cover;
    }
    .copyright{
      font-size: 30px;
    }
    footer{
      height: auto;
    }
  }
