.navigation-link{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5px 0;
}
.navigation-link:hover{
  color: white;
  text-decoration: none;
}
.navigation-link__link-text{
  margin: 0;
}
.navigation-link__link-text:hover{
  border-bottom: 1px solid white;
}
