.book-manage{
  position: absolute;
  z-index: 50;
  background: rgba(0, 0, 0, 0.95);
  width: 800px;
  display: flex;
  padding: 25px;
  top: 25px;
  border-radius: 15px;
}
.book-manage__list{
  width: 400px;
}
