.book-inline {
  overflow: hidden;
  width: 100%;
  min-height: 80px;
  background: rgba(0, 0, 0, 0.57);
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  font-size: 10px;
  border: 1px solid rgb(61, 19, 98);
}

.book-inline__cover-image {
  height: 80px;
}

.book-inline-link {
  color: white;
  font-size: 12px;
}

.book-inline__cover {
  min-width: 80px;
}

.book-inline:hover {
  transform: scale(1.05);
}
