.nav-bar__profile-btn{
  margin: 0 10px;
  border-radius: 50%;
  border: 2px rgba(255, 255, 255, 0.8) solid;
  height: 40px;
  width: 40px;
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar__profile-btn:hover{
  border-color: #007bff;
}
.profile-btn__avatar{
  height: 40px;
  width: 40px;
}
