.book-on-hand{
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  font-size: 10px;
}
.book-on-hand__cover-image{
  margin: 25px;
  height: 80px;
  border-radius: 5px;
}
