*{
  padding: 0;
  margin: 0;
  outline: none;
}
body{
  background-color: rgb(53, 56, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  width: 95%;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(176, 232, 96);
  border-radius: 25px;
  margin: 5px;
}
textarea{
  border-radius: 10px;
  width:95%;
  background: rgb(142, 142, 142);
  padding-left: 5px;
}
select{
  border-radius: 10px;
  border: none;
  background: rgb(142, 142, 142);
}
input{
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  background: rgb(142, 142, 142);
  height: 20px;
}
.btn{
  border: none;
  border-radius: 10px;
  background: rgb(128, 186, 82);
  color: white;
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
}
.btn:hover{
  background: rgb(131, 214, 64);
}
.clrBtn{
  background: rgb(207, 105, 105);
  width: 200px;
}
.clrBtn:hover{
  background: rgb(214, 64, 64);
}
.third-task__input-params{
  text-align:center;
  width: 100px;
}
h5{
  margin-bottom: 15px;
  color: rgb(175, 175, 175);
}
p{
  color: rgb(175, 175, 175);
}
.seventh-task__input{
  width: 50px;
}
.first-task__output{
  width: 170px;
}
.sixth-task__input{
  width: 50px;
}
.cacheResultsOutput{
  width: 150px;
}
.cacheReault{
  width: 150px;
}
.seventh-task__ops{
  display: inline;
  color: rgb(175, 175, 175);
  padding: 0 5px;
}
.seventh-task__resultsOutput{
  width: 250px;
  margin: 10px 0;
}
